<div class="widget-head">
    <h3>XKCD - <%=title %></h3>
    <a href="#" title="refresh this widget">refresh</a>
</div>
<div class="widget-content">
    <a href="<%=link%>"><%- description %></a>
</div>

